@model ContatoMoldel
@{
    ViewData["Title"] = "Criar contato";
}
<div class="text-center">
    <h1 class="display-4">Criar contato</h1>
</div>

<form asp-controller="Contatos" asp-action="Criar" method="post">
    <div class="mb-3">
        <label for="nome"  class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" pattern="[A-Za-záàâãéèêíïóôõöúçñ\s]+$" title="digite apenas Letras" required placeholder="Digite o nome do contato">
    </div>
    <div class="mb-3">
        <label for="e-mail" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" required placeholder="Digite o E-mail do contato">
    </div>
    <div class="mb-3">
        <label for="Celular" class="form-label">Celular</label>
        <input type="tel" asp-for="Celular" class="form-control" required  placeholder="Digite o celular do contato">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary ">Adicionar</button>
        <a class=" btn btn-secondary btn-block" asp-controller="Contatos" asp-action="Index" role="button">Voltar</a>
    </div>
   
</form>

<script type="text/javascript">
    $("#telefone, #Celular").mask("(00) 0000-0000");
</script>